# named.conf.options
options {
        directory "/var/cache/bind";
        listen-on port 53 { any; };     # TODO 改为 192.168.1.0/24
        listen-on-v6 port 53 { ::1; };  # TODO 改为 192.168.1.0/24
        allow-query { any; };   # TODO 改为 192.168.1.0/24
        recursion yes;
        allow-recursion { any; };   # TODO 改为 192.168.1.0/24

        forward first;
        forwarders {
            8.8.8.8;
            114.114.114.114;
        };
        dnssec-enable no;
        dnssec-validation no;
        dnssec-lookaside no;    
};
# named.conf.default-zones
zone "askr.cn" {
    type master;
    file "/etc/bind/db.askr.cn";
};
# db.askr.cn
;
; BIND data file for local loopback interface
;
$TTL    60
$ORIGIN askr.cn.
@       IN      SOA     ns.askr.cn. root.askr.cn. (
                              3         ; Serial
                             60         ; Refresh
                             1H         ; Retry
                             3D         ; Expire
                             1D )       ; Negative Cache TTL
;
@       IN      NS      ns
ns      IN      A       192.168.1.100
apache  IN      A       192.168.1.200
nginx   IN      A       192.168.1.1